<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>Flower Shop</title>
</head>

<body>

<h2>Add a photo</h2>

	<form method="POST" action="/upload" enctype="multipart/form-data">
	<input type="file" name="file" /><br/>
	<input type="submit" value="Submit" />
	</form>
	
</body>

</html>